<%- include("layouts/header.ejs") %>
<h2 class="mb-4">Groups</h2>

<div class="container">
  <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createGroupModal">
    Create Group
  </button>
  <%
  if(typeof message!== 'undefined'){
      %>
  <p style="color:green"><%=message%></p>
  <%
  }
  %>



  <table class="table mt-4">
    <thead>
      <tr>
        <td>S.No</td>
        <td>Image</td>
        <td>Name</td>
        <td>Limit</td>
        <td>Members</td>
        <td>Action</td>

      </tr>
    </thead>
    <tbody>
      <%  
      if(groups.length>0){
       
        for(let i=0;i < groups.length ;i++){
            %>
      <tr>
        <td><%=i+1 %></td>
        <td><img src="data:image/jpeg;base64,<%= groups[i]['image'] %>" alt="" height="50px" width="50px"></td>
        <td> <%= groups[i]['name'] %></td>
        <td> <%= groups[i]['limit'] %></td>
        <td><a class="cursor-pointer addMember" data-id="<%= groups[i]['_id'] %>" data-limit="<%= groups[i]['limit'] %>" data-toggle="modal" data-target="#memberModal">Members</a></td>
        <td><a class="updateMember" data-obj="<%= JSON.stringify(groups[i])  %>" data-toggle="modal" data-target="#updateGroupModal">
            <i class="fa fa-pencil"></i>
          </a>
          <a class="deleteGroup text-danger" data-id="<%= groups[i]['_id'] %>" data-name="<%= groups[i]['name'] %>" data-toggle="modal" data-target="#deleteGroupModal">
            <i class="fa fa-trash"></i>
          </a>
          <a class="copy cursor-pointer" data-id="<%= groups[i]['_id'] %>">
            <i class="fa fa-copy"></i>
          </a>
        </td>




      </tr>
      <%
        }



      }else{
      %>
      <tr>
        <td>No Groups Found!!!</td>
      </tr>
      <%
      }
      %>
    </tbody>
  </table>


  <!-- add member Modal -->
  <div class="modal fade" id="memberModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Members</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form action="" id="add-member-form">
          <div class="modal-body">
            <input type="hidden" name="group_id" id="group_id">
            <input type="hidden" name="limit" id="limit">


            <table class="table mt-4">
              <thead>
                <tr>
                  <td>Select</td>
                  <td>Name</td>


                </tr>
              </thead>
              <tbody>
                <tr>
                  <td colspan="2">
                    <div class="addMemberTable">
                      <table class="table addMembersInTable"></table>
                    </div>

                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="modal-footer">
            <p id="add-member-error" class="text-danger"></p>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Update Members</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>





<!-- create group Modal -->
<div class="modal fade" id="createGroupModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Create Group</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="" enctype="multipart/form-data" method="post">
        <div class="modal-body">

          <input type="text" name="name" placeholder="Enter Group Name" required class="w-100 mb-2">
          <input type="file" name="image" required class="w-100 mb-2">
          <input type="number" name="limit" min="1" required placeholder="Enter User limit" class="w-100 mb-2">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Create</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- update group Modal -->
<div class="modal fade" id="updateGroupModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Update Group</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="" enctype="multipart/form-data" method="post" id="updateChatGroupForm">
        <div class="modal-body">
          <input type="hidden" name="id" id="update_group_id">
          <input type="hidden" name="last_limit" id="last_limit">
          <input type="text" name="name" id="group_name" placeholder="Enter Group Name" required class="w-100 mb-2">
          <input type="file" name="image" required class="w-100 mb-2">
          <input type="number" name="limit" id="group_limit" min="1" required placeholder="Enter User limit" class="w-100 mb-2">
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Update</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- delete group Modal -->
<div class="modal fade" id="deleteGroupModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Delete Group</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="post" id="deleteChatGroupForm">
        <div class="modal-body">
          <input type="hidden" name="id" id="delete_group_id">


          <p>Are you sure you want to delete <b id="delete_group_name"></b> group ?</p>

        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-danger">Delete</button>
        </div>
      </form>
    </div>
  </div>
</div>





<%- include("layouts/footer.ejs") %>